
@font-face {
  font-family: 'SocialGothic-DemiBold';
  src: url('SocialGothic-DemiBold.eot?#iefix') format('embedded-opentype'),  url('SocialGothic-DemiBold.woff') format('woff'), url('SocialGothic-DemiBold.ttf')  format('truetype'), url('SocialGothic-DemiBold.svg#SocialGothic-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
